<div id="<%= dom_id url %>">
  <p>
    <strong>Title:</strong>
    <%= url.title %>
  </p>

  <p>
    <strong>Target url:</strong>
    <%= url.target_url %>
  </p>

  <p>
    <strong>Shortened key:</strong>
    <%= url.shortened_key %>
  </p>

</div>
